<div class="break">
    <div id="about" class="jumbotron text-center bg-orange">
        <br>
        <h1>Welcome to my Blog</h1>
        <p>A blog about stuff</p>
        <form>
            <label>Subscribe to our newsletter:</label><br>
            <input type="email" placeholder="e.g. john@doe.com">
            <input class="btn btn-danger" type="submit" value="Subscribe">
        </form>
    </div>
</div>
<div id="services" class="container text-center">
    <h2>Services</h2>
    <p>What We Offer</p>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="glyphicon glyphicon-off">
            <h4>Infographics</h4>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="glyphicon glyphicon-off">
            <h4>Logo Design</h4>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="glyphicon glyphicon-off">
            <h4>Print Design</h4>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="glyphicon glyphicon-off">
            <h4>Web Design</h4>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="glyphicon glyphicon-off">
            <h4>Web Development</h4>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="glyphicon glyphicon-off">
            <h4>Web Marketing</h4>
            <p>Lorem ipsum dolor sit amet.</p>z
        </div>
    </div>
</div>
<div id="portfolio" class="row text-center">
    <h2>Portfolio</h2>
    <div class="col-md-3 col-sm-4 col-xs-12 text-center">
        <%= image_tag("AfXZmp7.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("0LXWvEP.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("5taP4mG.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("Fbqkdih.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("JfalOGK.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("NSwiO3i.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("pduRTV2.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("zFCqdDN.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("YopeU8i.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("XKo4hhW.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("XD6gflX.jpg", class: 'img-circle' )%>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("WYmJO1s.jpg", class: 'img-circle' )%>
    </div>
</div>
<br>
<div id="pricing" class="container-fluid">
    <div class="text-center">
        <h2>Pricing</h2>
        <h4>Choose a payment plan that works for you</h4>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><h3>Package A</h3></div>
                    <div class="panel-body">Consultation</div>
                    <div class="panel-footer">
                        <h3>$100</h3>
                        <button class="btn btn-lg">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><h3>Package B</h3></div>
                    <div class="panel-body">Web design</div>
                    <div class="panel-footer">
                        <h3>$500</h3>
                        <button class="btn btn-lg">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><h3>Package C</h3></div>
                    <div class="panel-body">Consultation + web design</div>
                    <div class="panel-footer">
                        <h3>$1000</h3>
                        <button class="btn btn-lg">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
