

<div id="services" class="container text-center">
  <h2>Services</h2>
  <p>What We Offer</p>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-off">
      <h4>Infographics</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-off">
      <h4>Logo Design</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-off">
      <h4>Print Design</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-off">
      <h4>Web Design</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-off">
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-off">
      <h4>Web Marketing</h4>
      <p>Lorem ipsum dolor sit amet.</p>z
    </div>
  </div>
</div>

<div>
<div id="portfolio" class="row text-center">
      <h2>Portfolio</h2>

      <div class="col-md-3 col-sm-4 col-xs-12 text-center">
        <%= image_tag("AfXZmp7", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("0LXWvEP", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("5taP4mG", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("Fbqkdih", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("JfalOGK", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("NSwiO3i", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("pduRTV2", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("zFCqdDN", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("YopeU8i", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("XKo4hhW", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("XD6gflX", class: 'img-circle' )%>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= image_tag("WYmJO1s", class: 'img-circle' )%>
      </div>

    </div>
</div>
    <br>
    <div class="container">
    <table class="table table-striped table table-bordered">

      <tr>
        <th class="col-md-3 col-sm-3 col-xs-3">Theme Attributes</th>
        <th class="col-md-9 col-sm-9 col-xs-9">Portfolio</th>
      </tr>
      <tr>
        <td>Peter</td>
        <td>Griffin</td>

      </tr>
      <tr>
        <td>Lois</td>
        <td>Griffin</td>

      </tr>
      <tr>
        <td>Joe</td>
        <td>Swanson</td>

      </tr>
      <tr>
        <td>Cleveland</td>
        <td>Brown</td>

      </tr>
    </table>
    </div>

    <br>


    <div id="pricing" class="container-fluid">
       <div class="text-center">
         <h2>Pricing</h2>
         <h4>Choose a payment plan that works for you</h4>

         <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-6">
             <div class="panel panel-default text-center">
               <div class="panel-heading"><h3>Package A</h3></div>
               <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
               <div class="panel-footer">
                 <h3>$1000</h3>
                 <button class="btn btn-lg">Sign Up</button>
               </div>
             </div>
           </div>


           <div class="col-lg-4 col-md-4 col-sm-6">
             <div class="panel panel-default text-center">
               <div class="panel-heading"><h3>Package A</h3></div>
               <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
               <div class="panel-footer">
                 <h3>$1000</h3>
                 <button class="btn btn-lg">Sign Up</button>
               </div>
             </div>
           </div>


           <div class="col-lg-4 col-md-4 col-sm-6">
             <div class="panel panel-default text-center">
               <div class="panel-heading"><h3>Package A</h3></div>
               <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
               <div class="panel-footer">
                 <h3>$1000</h3>
                 <button class="btn btn-lg">Sign Up</button>
               </div>
             </div>
           </div>


           <label for="input-7-xs" class="control-label">Extra Small Rating</label>
           <input id="input-7-xs" class="rating rating-loading" value="1" data-min="0" data-max="5" data-step="0.5" data-size="xs"><hr/>
         </div>
       </div>
     </div>
