<h1>Editing post</h1>


<%= @post.errors.full_messages.join(", ") %>

<%= form_for @post do |f| %>

<div>
<br>
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<%= f.submit %>

<% end %>
