<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p><%= @post.created_at %></p>
<p>Created By: <%= @post.user_full_name.titleize %></p>
<p>Tags: <%= @post.tags.map{|t| t.name }.join(", ") %></p>

<% if can? :edit, @post %>
<%= link_to "Edit", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"} %>
<% end %>

<%= @comment.errors.full_messages.join(", ") %>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
||

<% if user_favourite %>
  <%= link_to "Un-Fave", post_favourite_path(@post, user_favourite), method: :delete %>
<% else %>
  <%= link_to "Favourite", post_favourites_path(@post), method: :post %>
<% end %>

||


<div id="comment-form">
  <%= render "/comments/form", comment: @comment %>
</div>

<h2>Comments</h2>
<div id="comments">
  <% @post.comments.each do |ans| %>
    <%= render "/comments/comment", comment: ans %>
  <% end %>
</div>

<% @post.comments.each do |ans| %>
  <%= ans.body %>
  by: <%= ans.user_full_name.titleize %>
    <% if can? :destroy, ans %>
  <%= link_to "Delete Comment", [@post, ans], method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  <hr>
  <% end %>
