  <!-- bootstrap navbar -->
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <!-- <div class="navbar-header"> -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        <!-- logo and company name -->
        </button>
        <a class="navbar-left" href="<%= home_path %>">
        <span class="glyphicon glyphicon-fire logo">
        <a href="<%= home_path %>" class="navbar-left company-name">BlogAT</a>
        <!--img class="logo-image" src="images/logo.png"-->
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar text-center">
                <!-- navigation items -->
                <li><%= link_to "Home", home_path %></li>
                <li><%= link_to "About", about_us_path %></li>
                <li><a href="<%= posts_path %>">View all posts</a></li>
                <% if user_signed_in? %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello <%= "#{current_user.full_name.titleize}"%><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<%= new_post_path %>">Create a post</a></li>
                        <li><a href="<%= favourites_path %>">Your favourite posts</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="<%= edit_user_path(current_user) %>">Edit profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to "Log out", sessions_path, method: :delete %></li>
                    </ul>
                </li>
                <% else %>
                <!-- <li><a href="<%= new_user_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                <li><a data-popup-open="popup-1" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <% end %>
            </ul>
          </a>
        </div>
    </div>
</nav>
<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <h2><center>Sign In</center></h2>
        <div class="sign-in-modal">
            <%= link_to sign_in_with_facebook_path, id: "sign_in", class:"btn btn-block btn-social btn-facebook" do %>
                <span class="fa fa-facebook"></span>
                <span>Sign In With Facebook</span>
                <% end %>
                <%= link_to sign_in_with_twitter_path, class:"btn btn-block btn-social btn-twitter" do %>
                <span class="fa fa-twitter"></span>
                <span>Sign In With Twitter</span>
                <% end %>
                <%= link_to sign_in_with_google_path, id: "sign_in", class:"btn btn-block btn-social btn-google" do %>
                <span class="fa fa-google"></span>
                <span>Sign In With Google</span>
                <% end %>
            <br>
            <div class="form-group row_modal">
                <p><a data-popup-close="popup-1" href="#">Close</a></p>
            </div>
        </div>
        <div>
            <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
        </div>
    </div>
</div>
