<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->

</head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div id="about" class="jumbotron text-center bg-orange">
      <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
      <% elsif alert %>
      <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <h1>Welcome to my Blog</h1>
      <p>A blog about stuff</p>
      <form>
        <label>Subscribe to our newsletter:</label><br>
        <input type="email" placeholder="e.g. john@doe.com">
        <input class="btn btn-danger" type="submit" value="Subscribe">
      </form>
    </div>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#about">Toggle</button>

    <div class="container">
    <!-- bootstrap navbar -->
      <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <!-- <div class="navbar-header"> -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            <!-- logo and company name -->
            </button>

            <a class="navbar-left" href="#">
              <span class="glyphicon glyphicon-fire logo">
                <a href="#" class="navbar-left company-name">My Awesome Blog</a>
              <!--img class="logo-image" src="images/logo.png"-->
              <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav navbar text-center">
            <!-- navigation items -->
              <li><%= link_to "Home", home_path %></li>
              <li><%= link_to "About", about_us_path %></li>
              <li><%= link_to "Create Post", new_post_path %></li>
              <li><%= link_to "All Posts", posts_path %></li>
              <% if user_signed_in? %>
              <li><%= link_to "Your favourite posts", favourites_path %></li>
                <li><%= link_to "Hello #{current_user.full_name.titleize}", edit_user_path(current_user) %></li>
                <li><%= link_to "Hello #{current_user.full_name.titleize}", edit_user_path(current_user) %></li>
                <li><%= link_to "Log out", sessions_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Sign In With Twitter", sign_in_with_twitter_path %></li>
                <li><%= link_to "Sign In", new_session_path %></li>
                <li><%= link_to "Sign Up", new_user_path %></li>
              <% end %>
            </ul>
          </a>
          </div>
        </div>
      </nav>



<%= yield %>
    </div>


    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
     <div class="container">
       <div class="navbar-text pull-left">
         <p>© 2016 BigShark Design Studios</p>
       </div>
       <div class="navbar-text pull-right">
         <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
         <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
         <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
         <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
         <a href="#"><i class="fa fa-amazon fa-2x"></i></a>
         <a href="#"><i class="fa fa-github fa-2x"></i></a>
       </div>
     </div>
   </div>
  </body>
</html>
